In [8]:
#Question 1

In [1]:
employees = {
    "Alice": 6000,
    "Bob": 4500,
    "Charlie": 7000,
    "David": 5000,
    "Eva": 8000
}

In [2]:
employees

{'Alice': 6000, 'Bob': 4500, 'Charlie': 7000, 'David': 5000, 'Eva': 8000}

In [3]:
highest_salary = max(employees.values())
print("Highest salary:", highest_salary)

Highest salary: 8000

In [4]:
average_salary = sum(employees.values()) / len(employees)
print("Average salary:", average_salary)

Average salary: 6100.0

In [6]:
threshold = 5000
above_threshold = [name for name, salary in employees.items() if salary > threshold]
print("Employees earning more than ₹5000:", above_threshold)

Employees earning more than ₹5000: ['Alice', 'Charlie', 'Eva']

In [7]:
sorted_names = sorted(employees.keys())
print("Employee names in alphabetical order:", sorted_names)

Employee names in alphabetical order: ['Alice', 'Bob', 'Charlie', 'David', 'Eva']

In [10]:
#Question 2

In [11]:
employees = {
    "Alice": {"salary": 6000, "age": 28},
    "Bob": {"salary": 4500, "age": 34},
    "Charlie": {"salary": 7000, "age": 26},
    "David": {"salary": 5000, "age": 31},
    "Eva": {"salary": 8000, "age": 29}
}

In [12]:
oldest = max(employees.items(), key=lambda item: item[1]["age"])
print("Oldest employee:", oldest[0], "Age:", oldest[1]["age"])

Oldest employee: Bob Age: 34

In [13]:
total_age = sum(info["age"] for info in employees.values())
average_age = total_age / len(employees)
print("Average age:", average_age)

Average age: 29.6

In [15]:
young_employees = [(name, info["age"]) for name, info in employees.items() if info["age"] < 30]

In [16]:
young_employees_sorted = sorted(young_employees, key=lambda x: x[1])
print("Employees younger than 30 (sorted by age):")
for name, age in young_employees_sorted:
    print(name, "-", age)

Employees younger than 30 (sorted by age):
Charlie - 26
Alice - 28
Eva - 29

In [1]:
employees = {
    "Alice": {"salary": 6000, "age": 28, "rating": 9},
    "Bob": {"salary": 4500, "age": 35, "rating": 7},
    "Charlie": {"salary": 7000, "age": 32, "rating": 10},
    "David": {"salary": 5000, "age": 26, "rating": 6},
    "Eva": {"salary": 8000, "age": 24, "rating": 9}
}

In [2]:
employees

{'Alice': {'salary': 6000, 'age': 28, 'rating': 9},
 'Bob': {'salary': 4500, 'age': 35, 'rating': 7},
 'Charlie': {'salary': 7000, 'age': 32, 'rating': 10},
 'David': {'salary': 5000, 'age': 26, 'rating': 6},
 'Eva': {'salary': 8000, 'age': 24, 'rating': 9}}

In [3]:
max_rating = max(emp["rating"] for emp in employees.values())
top_rated = [name for name, emp in employees.items() if emp["rating"] == max_rating]
print("Highest Rating:", max_rating)
print("Top Rated Employees:", top_rated)

Highest Rating: 10
Top Rated Employees: ['Charlie']

In [4]:
avg_rating = sum(emp["rating"] for emp in employees.values()) / len(employees)
print("Average Rating:", avg_rating)

Average Rating: 8.2

In [5]:
high_perf = [name for name, emp in employees.items() if emp["rating"] > 8]
print("Employees with rating > 8:", high_perf)

Employees with rating > 8: ['Alice', 'Charlie', 'Eva']

In [6]:
sorted_by_rating = sorted(employees.items(), key=lambda item: item[1]["rating"], reverse=True)
print("Employees sorted by rating (high to low):")
for name, data in sorted_by_rating:
    print(name, "->", data["rating"])

Employees sorted by rating (high to low):
Charlie -> 10
Alice -> 9
Eva -> 9
Bob -> 7
David -> 6

In [7]:
for emp in employees.values():
    emp["bonus"] = emp["salary"] * 0.10

In [8]:
eligible_bonus = {name: emp["bonus"] for name, emp in employees.items() if emp["rating"] > 5}
print("Employees eligible for bonus:")
for name, bonus in eligible_bonus.items():
    print(name, "->", bonus)

Employees eligible for bonus:
Alice -> 600.0
Bob -> 450.0
Charlie -> 700.0
David -> 500.0
Eva -> 800.0

In [9]:
sorted_bonus = sorted(eligible_bonus.items(), key=lambda item: item[1], reverse=True)
print("Employees sorted by bonus amount:")
for name, bonus in sorted_bonus:
    print(name, "->", bonus)

Employees sorted by bonus amount:
Eva -> 800.0
Charlie -> 700.0
Alice -> 600.0
David -> 500.0
Bob -> 450.0

In [10]:
scores = [95, 85, 76, 92, 88, 67, 81, 100]

In [11]:
highest_score = max(scores)
print("Highest Score:", highest_score)

Highest Score: 100

In [12]:
average_score = sum(scores) / len(scores)
print("Average Score:", average_score)

Average Score: 85.5

In [13]:
above_80 = [score for score in scores if score > 80]
print("Scores above 80:", above_80)

Scores above 80: [95, 85, 92, 88, 81, 100]

In [14]:
sorted_scores = sorted(scores)
print("Sorted Scores:", sorted_scores)

Sorted Scores: [67, 76, 81, 85, 88, 92, 95, 100]

In [15]:
numbers = list(range(1, 11))

In [16]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
squares = [x**2 for x in numbers]
cubes = [x**3 for x in numbers]

print("Squares:", squares)
print("Cubes:", cubes)

Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cubes: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [18]:
original = [10, -4, 0, 23, -9, 5, -1]

In [19]:
original

[10, -4, 0, 23, -9, 5, -1]

In [20]:
positives = [num for num in original if num > 0]
print("Positive Numbers:", positives)

Positive Numbers: [10, 23, 5]

In [21]:
students = ["Zara", "Amit", "John", "Ben", "Meera"]

In [22]:
students

['Zara', 'Amit', 'John', 'Ben', 'Meera']

In [23]:
sorted_students = sorted(students)
print("Sorted Names:", sorted_students)

Sorted Names: ['Amit', 'Ben', 'John', 'Meera', 'Zara']

In [24]:
cs_students = {"Alice", "Bob", "Charlie"}
math_students = {"David", "Eva"}

In [25]:
cs_students.update(math_students)
print("After update:", cs_students)

After update: {'Eva', 'Charlie', 'David', 'Bob', 'Alice'}

In [26]:
cs_copy = cs_students.copy()
print("Copy of set:", cs_copy)

Copy of set: {'Eva', 'Charlie', 'David', 'Bob', 'Alice'}

In [27]:
cs_students.add("Frank")
print("After adding Frank:", cs_students)

After adding Frank: {'Eva', 'Charlie', 'David', 'Bob', 'Alice', 'Frank'}

In [28]:
cs_students.discard("David")  # Use discard to avoid error
print("After discarding David:", cs_students)

After discarding David: {'Eva', 'Charlie', 'Bob', 'Alice', 'Frank'}

In [29]:
cs_students.discard("George")  # No error if George not in set
print("After discarding George:", cs_students)

After discarding George: {'Eva', 'Charlie', 'Bob', 'Alice', 'Frank'}

In [30]:
cs_students.clear()
print("After clearing:", cs_students)

After clearing: set()

In [31]:
activities = {"John", "Alice", "Ben"}
robotics = {"Daisy", "Tom"}
chess_left = {"Alice", "Michael"}

In [32]:
activities.update(robotics)
print("After adding robotics:", activities)

After adding robotics: {'Ben', 'Daisy', 'John', 'Tom', 'Alice'}

In [33]:
for student in chess_left:
    activities.discard(student)
print("After removing chess leavers:", activities)

After removing chess leavers: {'Ben', 'Daisy', 'John', 'Tom'}

In [34]:
activity_copy = activities.copy()
print("Activity copy:", activity_copy)

Activity copy: {'Ben', 'Tom', 'Daisy', 'John'}

In [35]:
if activities:
    popped_student = activities.pop()
    print("Popped student:", popped_student)
else:
    print("Set is empty, cannot pop.")

Popped student: Ben

In [36]:
activities.clear()
print("After clearing:", activities)

After clearing: set()

In [37]:
cs_students = {"Alice", "Bob", "Charlie", "David"}
activity_students = {"Charlie", "David", "Eva", "Frank"}

In [38]:
both = cs_students & activity_students
print("Students in both CS and Activities:", both)

Students in both CS and Activities: {'David', 'Charlie'}

In [39]:
only_cs = cs_students - activity_students
print("Only in CS:", only_cs)

Only in CS: {'Bob', 'Alice'}

In [40]:
only_activity = activity_students - cs_students
print("Only in Activities:", only_activity)

Only in Activities: {'Eva', 'Frank'}

In [41]:
cs_students = {"Alice", "Bob", "Charlie", "David"}
prereq_students = {"Bob", "Charlie", "Eva"}

In [42]:
both = cs_students & prereq_students
print("Enrolled in both CS and Prerequisite:", both)

Enrolled in both CS and Prerequisite: {'Bob', 'Charlie'}

In [43]:
only_prereq = prereq_students - cs_students
print("Only in Prerequisite:", only_prereq)

Only in Prerequisite: {'Eva'}

In [44]:
course = ("CS101", ["Alice", "Bob", "Charlie"], [85, 90, 78])

In [45]:
print("Course ID:", course[0])
print("Students:", course[1])
print("Grades:", course[2])

Course ID: CS101
Students: ['Alice', 'Bob', 'Charlie']
Grades: [85, 90, 78]

In [46]:
avg_grade = sum(course[2]) / len(course[2])
print("Average Grade:", avg_grade)

Average Grade: 84.33333333333333

In [47]:
highest_grade = max(course[2])
index = course[2].index(highest_grade)
print("Top Student:", course[1][index], "Grade:", highest_grade)

Top Student: Bob Grade: 90

In [48]:
student_name = "Bob"
if student_name in course[1]:
    i = course[1].index(student_name)
    course[2][i] = 95
    print(f"Updated grade for {student_name}:", course[2][i])

Updated grade for Bob: 95

In [49]:
students = [("Alice", 20, 88), ("Bob", 25, 92), ("Charlie", 22, 76), ("David", 18, 90)]

In [50]:
print("All Students:")
for s in students:
    print(s)

All Students:
('Alice', 20, 88)
('Bob', 25, 92)
('Charlie', 22, 76)
('David', 18, 90)

In [51]:
filtered = [s for s in students if s[1] > 21]
print("Students older than 21:")
for s in filtered:
    print(s)

Students older than 21:
('Bob', 25, 92)
('Charlie', 22, 76)

In [52]:
employees = [("Alice", 200, 40), ("Bob", 180, 45), ("Charlie", 220, 38)]

In [53]:
salaries = [(name, rate * hours) for (name, rate, hours) in employees]
for name, total in salaries:
    print(f"{name}'s Total Salary: ₹{total}")

Alice's Total Salary: ₹8000
Bob's Total Salary: ₹8100
Charlie's Total Salary: ₹8360

In [54]:
highest = max(salaries, key=lambda x: x[1])
print("Highest Paid:", highest[0], "with ₹", highest[1])

Highest Paid: Charlie with ₹ 8360

In [55]:
avg_salary = sum(s[1] for s in salaries) / len(salaries)
print("Average Salary:", avg_salary)

Average Salary: 8153.333333333333

In [56]:
grades = {
    "Alice": (90, 85, 88),
    "Bob": (78, 82, 80),
    "Charlie": (95, 91, 89)
}

In [57]:
student_averages = {name: sum(scores) / len(scores) for name, scores in grades.items()}
print("Student Averages:")
for name, avg in student_averages.items():
    print(name, "->", avg)

Student Averages:
Alice -> 87.66666666666667
Bob -> 80.0
Charlie -> 91.66666666666667

In [58]:
top_student = max(student_averages.items(), key=lambda x: x[1])
print("Top Student:", top_student[0], "with average:", top_student[1])

Top Student: Charlie with average: 91.66666666666667

In [59]:
subjects = list(zip(*grades.values()))  # Transpose
subject_averages = [sum(sub)/len(sub) for sub in subjects]
print("Subject Averages: Math, Science, English =", subject_averages)

Subject Averages: Math, Science, English = [87.66666666666667, 86.0, 85.66666666666667]